.container{ 
    background-color: rebeccapurple;
  width: 100vw;
}

.nav{ 
    background-color: aqua;
   width: 100vw!important;
}


.active { 
    background-color: red;
}

.navbarLink{ 
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
padding : 0.5rem;

}

#logo{ 
    padding-left: 1rem;
}